@import url(./reset.css);

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans_18pt-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans_18pt-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* переменые */

$font-main: 'DM Sans', sans-serif;
$font-accent: 'Poppins', sans-serif;

$black: #171718;
$blackpure: #000000;
$black-border: #26292D;
$white: #ffffff;
$purple: #5C62EC;
$purple-hover-nav: #c7c7da;

$transition: all .2s ease-in;

:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;
    
    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
  
    --title-1: var(--purple);
  
    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

/* Dark mode */

.dark {
    /* Dark mode */
   --page-bg: #252526;
   --text-color: var(--white);
 
   --project-card-bg: var(--black);
   --project-card-text: var(--white);
   --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
 }

/* общие классы */

html, body {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.5px;
    font-family: $font-main;
    min-height: 100vh;
    background-color: var(--page-bg);
    color: var(--text-color);

}

body.lock {
    overflow: hidden;
}

a {
    color: $white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title-1 {
    margin-bottom: 60px;
    font-size: clamp(45px, 5vw, 60px);
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: $purple;
}

.title-2 {
    margin-bottom: 20px;
    font-size: clamp(30px, 3.33vw, 40px);
    font-weight: 700;
    line-height: 1.3;
}

.btn {
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    background-color: $purple;
    transition: opacity 0.2s ease-in;

    &:hover {
        background-color: transparent;
        border: 1px solid $purple;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

.btn-outline {
    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid $blackpure;
    transition: $transition;
    background-color: var(--white);

    a {
        display: flex;
        column-gap: 10px;
        align-items: center;
        color: $black;
    }

    &:hover {
        border: 1px solid $purple;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}


/* NAV */

.nav {
    padding: 20px 0;
    border-bottom: 1px solid $black-border;
    background-color: $black;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $font-accent;
    font-weight: 400;
}

.nav-logo {
    font-size: 24px;
    margin-right: auto;
    strong {
        font-weight: 700;
    }
}

.nav-list {
    display: flex;
    column-gap: 40px;
    font-size: 16px;
}

.nav-list_link {
    transition: $transition;
    &:hover {
        color: $purple-hover-nav;
    }
}

.nav-list_link--active{
    position: relative;

    &::before {
        content:'';
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $purple;
    }
}

/* NAV ACTIVE */

.nav-icon {
    display: none;
}

/* NAV ACTIVE */

/* DARK MODE BTN */

.dark-mode-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 51px;
    height: 26px;
    padding: 5px;
    margin-left: 25px;
    background-color: #272727;
    border-radius: 30px;
}

.dark-mode-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: $transition;
}

.dark-mode-btn_icon {
    position: relative;
    z-index: 9;
}

.dark-mode-btn_active::before {
    left: 26px;
}

.dark-mode-btn_icon {
    transition: $transition;
}

.dark-mode-btn_icon_active {
    transform: rotateZ(50deg);
}

/* DARK MODE BTN */

/* HEADER */

.header {
    min-height: 695px;
    background-color: $black;
    color: $white;
    padding-top: 190px;
    background-image: url('./../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.header-wrapper {
    padding: 0 15px;
    text-align: center;
}

.header-title {
    margin-bottom: 30px;
    font-size: clamp(40px, 5vw, 60px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
    color: $white;

    strong {
        font-size: clamp(27px, 3.33vw, 40px);
    }

    em {
        font-style: normal;
        color: $purple;
    }
}

.header-text {
    margin-bottom: 40px;
    p {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.333;
    }
}

.header-text p + p {
    margin-top: 0.5em;
}
// если тега р будет больше чем один. 
//От последующих тегов после первого будет отступ соответствующий размеру шрифта//

.btn {
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    background-color: $purple;
    transition: opacity 0.2s ease-in;

    &:hover {
        background-color: transparent;
        border: 1px solid $purple;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

/* PROJECT */

.main {
    padding: 70px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;

    .project-img {
        border-radius: 10px;
    }

    .project-title {
        padding: 15px 20px 25px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        color: var(--project-card-text);
    }
}

/* FOOTER */

.footer {
    background-color: $black;
    padding: 60px 0 50px;
    margin-top: auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.copyright {
    p {
        color: $white;
        font-weight: 500;
        line-height: 1.5;
    }
}

/* project ditails */

.project-ditails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 865px;
    margin: 0 auto;
}

.project-ditails_cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-ditails_desc {
    p {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 30px;
    }
}

.btn-outline {
    a {
        color: $black;
    }
}

/* SKILLS */

.content-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
    margin: 0 auto;
    max-width: 570px;
}

.content-item {
    P {
        font-size: clamp(16px, 1.50vw, 18px);
        line-height: 1.5;
        font-weight: 500;
    }
}

.content-item p + p {
    margin-top: 0.5em;
}

/* CONTACTS */

.content-item {
    a {
        color: $purple;
        transition: $transition;

        &:hover {
            opacity: 0.8;
        }
    }
}